// Enter the service account secret information
{
    "type": "INPUT_YOUR_TYPE",
    "project_id": "INPUT_YOUR_PROJECT_ID",
    "private_key_id": "INPUT_YOUR_PRIVATE_KEY_ID",
    "private_key": "INPUT_YOUR_PRIVATE_KEY",
    "client_email": "INPUT_YOUR_CLIENT_EMAIL",
    "client_id": "INPUT_YOUR_CLIENT_ID",
    "auth_uri": "INPUT_YOUR_AUTH_URI",
    "token_uri": "INPUT_YOUR_TOKEN_URI",
    "auth_provider_x509_cert_url": "INPUT_YOUR_AUTH_PROVIDER_X509_CERT_URL",
    "client_x509_cert_url": "INPUT_YOUR_CLIENT_X509_CERT_URL",
    "universe_domain": "INPUT_YOUR_UNIVERSE_DOMAIN"
}